langchain
requests
schedule
tweepy
feedparser
ffmpeg
transformers
youtube-transcript-api
langdetect
jina==3.15.0
click
jcloud>=0.2.6
jina-hubble-sdk
nest-asyncio
textual
pytube
pandas
numpy
openai
tiktoken
pydub
nltk
google-api-python-client
oauth2client